name: Publish to Registries
on:
  release:
    types: [published]

permissions:
  id-token: write  # Required for OIDC - https://docs.npmjs.com/trusted-publishers
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v5
        with:
          node-version: 22.x
          cache: npm
          registry-url: https://registry.npmjs.org

      - run: npm install -g npm@latest
      - run: npm ci
      - run: npm run build

      - name: Publish to NPM
        run: npm publish --access public
      - name: Publish to GitHub Packages
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm config set //npm.pkg.github.com/:_authToken "$NODE_AUTH_TOKEN"
          npm publish --registry https://npm.pkg.github.com
